<!DOCTYPE html>
<html>

<head>

	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/style.css">
{% if page.js %}
  {% for js_file in page.js %}
  <script src='{{ site.baseurl }}/assets/{{ js_file }}.js'></script>
  {% endfor %}
{% endif %}

</head>

<body>
	<div class="container">

<h4 style="margin: 20px;">Timo's</h4>

<ul class=list-unstyled>

  {% for item in site.data.navigation %}
  <li><a href={{item.link}} {% if page.url==item.link %} id=active {% endif %}>{{ item.name }}</a></li>
{% endfor %}
</ul>

<br>

<h3 style="margin-top: 50px;">{{page.title}}</h3>

		<div style="margin-top: 30px;">{{ content }}</div>

		<footer>
		<div style="margin-bottom: 40px;margin-top: 50px;">
        	<div id=links></div>
            &emsp;&emsp;&emsp;&emsp;&emsp;
Made with ❤ in Germany, hosted by Github&emsp;&emsp;&emsp;&emsp;&emsp;

<button id=btn class = 'btn btn-primary' onclick='window.scrollTo({top: 0, behavior: "smooth"});'>Scroll to Top</button>
</div>
		</footer>
	</div><!-- /.container -->

<script>
document.getElementById('btn').style.display='none'

window.addEventListener('scroll', (event) => {
    console.log(scrollY)
    document.getElementById('btn').style.display='inline'
})
</script>

	<script src=assets/links.js></script>
    	<script src=assets/funct.js></script>

    
</body>

</html>
